/* fonts */
@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --variable */
:root {
  --color-01: #FFF;
  --color-02: #C93;
  --color-03: #F0BF5F;
  --color-04: #A47312;
}

/* reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* global */
body {
  background: #F1F1F1;
  padding: 30px 0;
}

.flex {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.title-container {
  color: #333;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;

  padding-left: 40px;
  margin-bottom: 20px;
}

.btn {
  background-color: var(--color-01);
  border-radius: 10px;
  border: 1px solid var(--color-02);
  color: var(--color-02);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 13px 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus-visible,
.btn:hover {
  outline: none;
  background-color: var(--color-02);
  color: var(--color-01);
}

.btn:active {
  background-color: var(--color-04);
}

address {
  font-style: normal;
}

/* header */
.header-up {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  font-size: 0;
  margin-right: 40px;
}

.header-logo:focus-visible {
  outline: none;
  outline: 1px solid var(--color-02);
  outline-offset: 5px;
}

.logo-tel {
  justify-content: space-between;
  align-items: center;
}

.header-tel {
  color: #666;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}

.header-tel:focus-visible {
  color: #CC9933;
  outline: none;
  outline: 1px solid var(--color-02);
  outline-offset: 5px;
}

.header-tel:hover {
  color: var(--color-02);
}

.header-tel:active {
  color: var(--color-04);
}

.link-area {
  align-items: center;
  color: var(--color-02);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.link-area span {
  margin-top: 5px;
  transition: color 0.3s ease-in-out;
}

.arrow-area {
  fill: var(--color-02);
  margin-right: 5px;
}

.link-area svg.arrow-area {
  transition: fill 0.3s ease-in-out;
}

.link-area:focus-visible {
  outline: 1px solid var(--color-02);
  outline-offset: 5px;
}

.link-area:hover {
  color: var(--color-03);
}

.link-area:hover svg.arrow-area {
  fill: var(--color-03);
}

.link-area:active {
  color: var(--color-04);
}

.link-area:active svg.arrow-area {
  fill: var(--color-04);
}

.header-down {
  justify-content: space-between;
  align-items: center;
  background: var(--color-01);
  border-radius: 15px;
  padding: 14px 45px;
}

.header-nav {
  max-width: 700px;
}

.header-item {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.header-link {
  transition: color 0.3s ease-in-out;
}

.header-link:focus-visible {
  outline: none;
  outline: 1px solid var(--color-02);
  outline-offset: 5px;
  color: var(--color-02);
}

.header-link:hover {
  color: var(--color-02);
}

.header-link:active {
  color: var(--color-04);
}

.header-btn {
  padding: 13px 20px;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* main */
/* offers */
.offers-content {
  justify-content: space-between;
  gap: 24px;
}

.offer-card {
  position: relative;
  border-radius: 15px;
  background-color: #2C2C2C;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 108px 40px 45px;
}

.offers-left {
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 573px;
}

.offer-right {
  width: 573px;
}

.offer-one {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/01_offers.jpg');
}

.offer-two {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/02_offers.jpg');
}

.offer-three {
  flex-direction: column;
  justify-content: end;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/03_offers.jpg');
  height: 100%;
}

.offer-title {
  color: var(--color-01);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.offer-price {
  color: var(--color-01);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 47px;
}

.offer-more {
  align-self: flex-start;
  align-items: center;
  gap: 5px;
  color: var(--color-03);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.offer-more svg {
  transition: transform 0.3s ease-in-out;
}

.offer-more:hover svg {
  transform: translateX(5px);
}

.offer-more:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid var(--color-02);
  outline-offset: 10px;
  opacity: 0;
}

.offer-more:focus-visible {
  outline: 0;
}

.offer-more:focus-visible:before {
  opacity: 1;
}

.offer-more:active {
  color: var(--color-01);
}

.offer-three-title {
  color: var(--color-01);
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.offer-three-price {
  color: var(--color-01);
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 47px;
}

/* about-us */
.about-us-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  width: 888px;
}

/* services */
.services-list {
  flex-wrap: wrap;
  gap: 24px;
}

.services-item {
  flex-direction: column;
  position: relative;

  border-radius: 15px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--color-01);
  width: 573px;
  padding: 190px 126px 35px 45px;
}

.services-item:nth-child(1) {
  background-image: url('../img/01_services.jpg');
}

.services-item:nth-child(2) {
  background-image: url('../img/02_services.jpg');
}

.services-item:nth-child(3) {
  background-image: url('../img/03_services.jpg');
}

.services-item:nth-child(4) {
  background-image: url('../img/04_services.jpg');
}

.services-item-link {
  align-items: center;
  gap: 5px;
}

.services-item-title {
  color: var(--color-02);
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

.services-item-link svg {
  stroke: var(--color-02);
}

.services-item-link svg {
  transition: transform 0.3s ease-in-out;
}

.services-item-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid var(--color-02);
  outline-offset: 10px;
  opacity: 0;
}

.services-item-link:hover .services-item-title {
  color: var(--color-03);
}

.services-item-link:hover svg {
  stroke: var(--color-03);
  transform: translateX(5px);
}


.services-item-link:focus-visible {
  outline: 0;
}

.services-item-link:focus-visible:before {
  opacity: 1;
}

.services-item-link:active .services-item-title {
  color: var(--color-04);
}

.services-item-link:active svg {
  stroke: var(--color-04);
}

.services-item-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

/* advantages */
.advantages-list {
  flex-wrap: wrap;
  gap: 22px;
}

.advantages-item {
  border-radius: 15px;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-color: var(--color-01);
  width: 276px;
  padding: 116px 42px 35px 45px;
}

.advantages-item:nth-child(1) {
  background-image: url('../img/adv_ico_01.svg');
}

.advantages-item:nth-child(2) {
  background-image: url('../img/adv_ico_02.svg');
}

.advantages-item:nth-child(3) {
  background-image: url('../img/adv_ico_03.svg');
}

.advantages-item:nth-child(4) {
  background-image: url('../img/adv_ico_04.svg');
}

.advantages-item:nth-child(5) {
  background-image: url('../img/adv_ico_05.svg');
}

.advantages-item:nth-child(6) {
  background-image: url('../img/adv_ico_06.svg');
}

.advantages-item:nth-child(7) {
  background-image: url('../img/adv_ico_07.svg');
}

.advantages-item:nth-child(8) {
  background-image: url('../img/adv_ico_08.svg');
}

.advantages-item-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

/* accommodation */
.accommodation-list {
  flex-wrap: wrap;
  gap: 24px;
}

.accommodation-item {
  background-color: var(--color-01);
  border-radius: 15px;
  width: 374px;
}

.accom-item-descr {
  padding: 45px;
  padding-top: 32px;
}

.price-from {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.price-price {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.price-night {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.price-rating {
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-name {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.hotel-location {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.hotel-rooms {
  padding: 13px 20px;
}

.last-item {
  position: relative;
  justify-content: center;
  align-items: flex-end;
  background-color: #2C2C2C;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/hotel_all.png');
  padding: 27px 45px 27px;
}

.link-all-var {
  align-items: center;
  gap: 5px;
  color: var(--color-01);
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  margin-right: 5px;
}

.link-all-var svg {
  transition: transform 0.3s ease-in-out;
}

.link-all-var:hover svg {
  transform: translateX(5px);
}

.link-all-var:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid var(--color-02);
  outline-offset: 10px;
  opacity: 0;
}

.link-all-var:focus-visible {
  outline: 0;
}

.link-all-var:focus-visible:before {
  opacity: 1;
}

/* want-tour */
.container-want-tour {
  border-radius: 15px;
  background: #E9E9E9;
  padding: 45px;
}

.want-tour-title {
  padding-left: 0;
  margin-left: -5px;
}

.want-tour-form {
  justify-content: space-between;
  border-radius: 15px;
  background: var(--color-01);
  padding: 32px 28px;
}

.form-options {
  justify-content: space-between;
  gap: 41px;
}

.select {
  width: 170px;
}

.lable-select {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.form-select {
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-left: -4px;
  width: 170px;
}

.lable-input {
  width: 120px;
}

.form-date {
  border: none;
  width: 120px;
}

.form-num {
  border: none;
  border-bottom: 1px solid #E9E9E9;

  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  width: 120px;
}

.form-btn {
  padding: 13px 30px;
}

/* contacts */
.container-contacts {
  margin-bottom: 40px;
}

.contacts-container {
  justify-content: space-between;
  gap: 52px;
  border-radius: 15px;
  background: var(--color-01);
  padding: 45px;
}

.left-contacts-container {
  min-width: 375px;
}

.contacts-list {
  margin-bottom: 45px;
}

.contacts-item {
  justify-content: space-between;
  gap: 45px;
  border-bottom: 1px solid #E9E9E9;
  padding-top: 25px;
  padding-bottom: 23px;
}

.contacts-item:first-child {
  padding-top: 0;
}

.contacts-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  width: 100px;
}

.contacts-item-descr {
  align-items: start;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 230px;
}

.contacts-item-descr a {
  color: var(--color-02);
  transition: color 0.3s ease-in-out;
}

.contacts-item-descr a:focus-visible {
  outline: none;
  outline: 1px solid var(--color-02);
  outline-offset: 1px;
}

.contacts-item-descr a:hover {
  color: var(--color-03);
}

.contacts-item-descr a:active {
  outline: none;
  color: var(--color-04);
}

.contacts-item-descr span {
  color: #999;
}

.build-route {
  padding: 30px;
}

.right-contacts-container {
  flex-grow: 1;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/lagoona_img.jpg');
}

/* footer */
.footer-container {
  justify-content: space-between;
  border-radius: 15px;
  background: #333;
  background-position: 80% bottom;
  background-repeat: no-repeat;
  background-image: url('../img/lagoona_sun.png');
  margin-bottom: 0;
  padding: 45px;
}

.footer-info {
  color: var(--color-01);
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
  margin-right: 125px;
  max-width: 302px;
}

.footer-info p {
  margin-bottom: 38px;
}

.footer-info a {
  color: var(--color-02);
}

.footer-address {
  flex-direction: column;
  gap: 15px;
  color: var(--color-01);
  font-size: 16px;
  font-weight: 400;
  margin-right: 269px;
}

.telephone-item,
.email-item {
  color: var(--color-02);
  line-height: 150%;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-info-agreement,
.telephone-item a,
.email-item a {
  transition: color 0.3s ease-in-out;
}

.footer-info-agreement:focus-visible,
.telephone-item a:focus-visible,
.email-item a:focus-visible {
  outline: none;
  outline: 1px solid var(--color-02);
  outline-offset: 2px;
}

.footer-info-agreement:hover,
.telephone-item a:hover,
.email-item a:hover {
  color: var(--color-03);
}

.footer-info-agreement:active,
.telephone-item a:active,
.email-item a:active {
  color: var(--color-04);
  outline: none;
}

.ico-social path {
  fill: #999;
  transition: fill 0.3s ease-in-out;
}

.ico-link:focus-visible {
  outline: none;
}

.ico-link:focus-visible path {
  fill: var(--color-02);
}

.ico-social:hover path {
  fill: var(--color-02);
}

.ico-social:active path {
  fill: var(--color-04);
}
